---
import Layout from "../../layouts/Layout.astro";
import Social from "../../components/Social.astro";
import Separador from "../../components/Separador.astro";
import { getTranslation } from "../../lib/i18n";

const t = (key: string) => getTranslation('en', key);
---

<Layout>
	<body>
		<header>
			<section>
				<h1>{t('name')}</h1>
				<p style="font-weight: 700; font-size: 1.5rem; margin-top:0">
					{t('title')}
				</p>
				<p class="contacto">
					{t('location')}<br />
					{t('email')} <a
						href="mailto:ignacioahmedhassan@gmail.com"
						style="color: #90ee90;">{t('emailAddress')}</a
					>
				</p>
				<p>
					{t('bio')}
				</p>
				<Social />
				<a href="/docs/CV.pdf">{t('downloadCV')}</a>
			</section>
		</header>
		
		<section>
			<h2>{t('workExperience')}</h2>
			<div class="trabajo">
				<p class="titulo-trabajo">
					{t('job1Title')}
				</p>
				<ul>
					<li>{t('job1_1')}</li>
					<li>{t('job1_2')}</li>
					<li>{t('job1_3')}</li>
					<li>{t('job1_4')}</li>
					<li>{t('job1_5')}</li>
					<li>{t('job1_6')}</li>
				</ul>
			</div>
			<div class="trabajo">
				<p class="titulo-trabajo">
					{t('job2Title')}
				</p>
				<ul>
					<li>{t('job2_1')}</li>
					<li>{t('job2_2')}</li>
				</ul>
			</div>
			<div class="trabajo">
				<p class="titulo-trabajo">
					{t('job3Title')}
				</p>
				<ul>
					<li>{t('job3_1')}</li>
					<li>{t('job3_2')}</li>
					<li>{t('job3_3')}</li>
				</ul>
			</div>
		</section>
		
		<Separador />
		
		<section>
			<h2>{t('education')}</h2>
			<p>
				<strong>{t('degree1')}</strong><br />{t('degree1Uni')}
			</p>
			<ul>
				<li>{t('degree1Progress')}</li>
			</ul>
			<p>
				<strong>{t('degree2')}</strong><br />{t('degree2Uni')}
			</p>
			<ul>
				<li>{t('degree2Progress')}</li>
			</ul>
		</section>

		<Separador />
				
		<section>
			<h2>{t('technicalSkills')}</h2>
			<ul>
				<li>{t('skill1')}</li>
				<li>{t('skill2')}</li>
				<li>{t('skill3')}</li>
				<li>{t('skill4')}</li>
				<li>{t('skill5')}</li>
			</ul>
		</section>
		<Separador />
		<section>
			<h2>{t('certifications')}</h2>
			<ul>
				<li>{t('cert1')}</li>
			</ul>
		</section>
	</body>
</Layout>
