---
---

<style>
.separador {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 2rem 0;
}
.separador-linea {
  flex: 1;
  height: 2px;
  background: purple;
  border: none;
}
.separador-circulo {
  width: 12px;
  height: 12px;
  background: purple;
  border-radius: 50%;
  margin: 0 1rem;
  border: 2px solid purple;
  box-sizing: border-box;
}
</style>

<div class="separador">
  <div class="separador-linea"></div>
  <div class="separador-circulo"></div>
  <div class="separador-linea"></div>
</div>